html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

html:not(.edge-browser) .edge-only {
    display: none;
}

html {
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #222;
    color: #f0f0f0;
    margin: 0;
}

a:link, a:visited {
    color: #ff4400e0;
    text-decoration: none;
    transition: color 200ms, text-decoration 200ms;
}

a:hover {
    color: #ff4400;
    text-decoration: underline;
}

[tabindex]:focus {
    outline: 2px solid #ff4400e0;
}

.hidden {
    display: none;
}

body > #nav {
    background: #333 !important;
    box-shadow: 0 1px 5px 0 #000b;
    margin-bottom: 3em;
}

#nav:not(.nosticky),
body > section:not(.nosticky),
body > footer:not(.nosticky) {
    position: sticky;
    top: 0;
    z-index: 10;
    background: inherit;
}

body > section.scrollable {
    top: initial;
}

body > section {
    background: inherit;
    padding-top: 6em;
    padding-bottom: 6em;
}

body > section:not(:last-of-type) {
    padding-bottom: 60vh;
}

body > section p {
    font-size: 1.1em;
    padding: 0em 6em;
    margin: 0;
    max-width: 60em;
}

body > #nav > nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

body > #nav > nav > * {
    height: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

body > #nav > nav .left {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

body > #nav > nav .left > * {
    margin-right: 2em;
}

body > #nav > nav .left a {
    font-size: 1.5em;
}

img.branding {
    height: 1.4em;
    object-fit: contain;
    transform: rotate(-42deg);
}

body > #nav > nav .right {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
}

a.social {
    height: 100%;
    margin-right: 1em;
    padding: 1em 0.5em;
    opacity: 0.8;
    transition: opacity 200ms;
}

a.social:hover {
    opacity: 1;
}

a.social img {
    max-height: 100%;
}

a.store-install {
    margin-left: 0.5em;
    height: 100%;
    padding: 0.5em;
    overflow: hidden;
}

a.store-install:hover img {
    box-shadow: 1px 1px 5px 0 #0009;
}

a.store-install img {
    max-height: 100%;
    object-fit: contain;
    border-radius: 0.4em;
    transition: box-shadow 200ms;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.right {
    align-items: flex-end;
    padding-right: 5%;
}

section.left {
    align-items: flex-start;
    padding-left: 5%;
}


header.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    position: absolute;
    z-index: 20;
    margin-top: 8em;
    right: 3em;
    width: 34em;
    border-radius: 0.4em;
    opacity: 0.98;
    box-shadow: 1px 1px 5px 0 #0005;
}

header.intro.left {
    right: initial;
    left: 3em;
}

.caption {
    color: #ddd;
    font-variant: all-petite-caps;
}

section card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 5em;
}

card .visual {
    max-width: 80%;
    max-height: 80vh;
    border-radius: 0.4em;
    object-fit: contain;
}

huge {
    font-size: 4em;
    font-family: 'Permanent Marker', sans-serif;
}

big {
    font-size: 2em;
}

header.intro {
    background-color: #008659;
}

header.intro#features {
    background-color: #008659;
}

header.intro#about {
    background-color: #bf594a;
}

header.intro#patron {
    background-color: #541aa3;
}

header.intro#support {
    background-color: #0d7bae;
}

header.intro#intro {
    background-color: #862200;
}

#patron a.patron {
    text-align: center;
}

#patron a.patron img {
    width: 40%;
    border-radius: 0.3em;
    transition: box-shadow 200ms;
}

#patron a.patron img:hover {
    box-shadow: 1px 1px 5px 0 #0003;
}

card iframe.strava-club {
    max-height: 80vh !important;
}

a.top {
    position: fixed;
    z-index: 100;
    bottom: 1em;
    right: 1em;
    text-decoration: none !important;
    opacity: 0.8;
    font-size: 1.1em;
}

body > footer {
    background: #444;
    color: #ddd;
    font-size: 0.92em;
    padding: 2em 1em;
    min-height: 20em;
}

body> footer row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

body> footer row column {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

body> footer row column ul {
    padding-left: 0;
}

body> footer row column li {
    padding: 0.1em 0 0.8em;
    list-style-type: none;
}

body> footer .install-link img {
    width: 10rem;
}


@media only screen and (max-width: 768px) {
    body > #nav {
        margin-bottom: 0;
    }

    header.intro {
        margin-top: 0;
    }

    #nav nav .left > a:not(.logo) {
        display: none;
    }

    section card {
        padding: 1em 0.5em;
    }

    h3 {
        font-size: 1em;
    }

    header.intro {
        position: sticky;
        width: 100%;
        border-radius: 0;
        font-size: 0.6em;
    }

    body > section p {
        max-width: initial;
        padding: 0em 1em;
    }

    card .visual {
        max-width: 100%;
    }

    section {
        padding-left: 0 !important;
        padding-right: 0 !important;
        align-items: center !important;
    }

    a.top {
        display: none;
    }

    card iframe.visual {
        max-height: 30vh;
    }

    body > #nav > nav .left > * {
        margin-right: 0.1em;
    }

    img.branding {
        height: 1em;
    }

    a.store-install {
        padding-top: 0.9em;
        padding-bottom: 0.9em;
    }

    a.social {
        margin-right: 0.2em;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
    }
}


@media only screen and (max-width: 320px) {
    html {
        font-size: 13px;
    }
}
